@font-face 
{
    font-family: 'introheadr-base';
    src: url('introheadr-base-webfont.woff2') format('woff2'),
         url('introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}







body {

    background-color: #c2d1cf;
    font-family: 'introheadr-base';
    display: inline-flex;

}
ul{

    color: #ffff;
    background-color: #000000;
    /* margin-left: 5px; */
    padding: 15px;
    /* text-indent: 100px; */
    /* text-align: center; */
    font-size: 20px;
    position: absolute;
    list-style: none;

}


a{
    color: #ffff;
}

h2{
    margin: 0px;
    display: block;
    flex-direction: column;
   
}

p {
    position: absolute;
    padding: 30px;
    margin: 10px;
    opacity: 50%;
}